/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	/*-----------------------------------------------
	# Disable aos animation delay on mobile devices #
	-----------------------------------------------*/
	[data-aos-duration="1000"], 
	[data-aos-duration="2000"], 
	[data-aos-duration="3000"], 
	[data-aos-duration="4000"] {
	    transition-duration: 1s !important;
	}

	/*For Header*/
	#header .navbar a {
	    padding: 2%;
	}
	#header .navbar .btn {
		padding: 0;
		width: 100%;
		display: block;
		border-radius: 0;
	}

	/*For Home*/
	#home {
		padding-top: 5vh;
	}
	#home img {
		width: 200px;
	    min-width: 100%;
	}
	#home .col:nth-child(1) {
		padding: 5%;
		min-width: 100%;
	}
	#home .col:nth-child(2) {
		padding: 5% 10%;
	}

	/*For Features*/
	#features .row:nth-child(1) {
		padding-bottom: 0!important;
	}
	#features .row:nth-child(2) .col:nth-child(1) {
		padding: 5% 10%;
		min-width: 100%;
	}
	#features .row:nth-child(2) .col:nth-child(2) {
		padding-left: 10%;
		padding-right: 10%;
	}
	#features .imgs .col {
		min-width: 100%;
		padding-bottom: 2%;
	}
	#features img.img-thumbnail {
		height: auto;
	}
	#features .imgs h4 {
		max-width: 400px;
		margin: 0 auto;
	}

	/*For Services*/
	#services .service-box {
		height: 300px;
	    max-width: 400px;
	    margin: 2% auto;
	}
	#services .service-box:hover {
		transform: none;
		box-shadow: none;
	}
	/*For Pricing*/
	#pricing .prices .col {
		flex: none;
		width: 100%;
		padding: 10% 10% 0 10%;
	}

	/*For About Us*/
	#about-us .wrap {
		min-width: 100%;
		padding: 0 20px 30px 20px;
	}	
	#about-us .img {
		width: 100%;
	}

	/*For Contact Us*/
	#contact-us .row .col:nth-child(1) {
		min-width: 100%;
	}
	#contact-us .row .col .form {
	    padding: 2%;
	}
	#contact-us .row .col .form .btn {
		width: 100%;
	}
	#contact-us .row .col iframe {
	    min-height: 250px;
	    height: auto;
	}

	/*For Footer*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*For Header*/
	#header .navbar a {
	    padding: 3%;
	} 

	/*For Home*/
	#home .col:nth-child(2) {
		margin-top: 12vh;
	}

	/*For Features*/
	#features .row:nth-child(2) .col:nth-child(1) {
		/*padding: 5% 10%;*/
		min-width: 100%;
	}
	#features .row:nth-child(2) .col:nth-child(2) {
		padding-left: 50px;
	}
	#features .imgs .col{
		min-width: 50%;
	}

	/*For Clients*/

	/*For Pricing*/
	#pricing .prices .col {
		flex: none;
		width: 50%;
	}

	/*For About Us*/

	/*For Contact Us*/
	#contact-us .row .col:nth-child(1) {
		min-width: 100%;
	}
	/*For Footer*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*For Features*/
	#features .imgs .col{
		min-width: 50%;
	}

	/*For Clients*/

	/*For Pricing*/
	#pricing .prices .col {
		flex: none;
		width: 50%;
	}

	/*For About Us*/

	/*For Contact Us*/
	#contact-us .row .col:nth-child(1) {
		min-width: 100%;
	}

	/*For Footer*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	#header .navbar {
	    position: absolute;
	}
	#home .col:nth-child(1) {
		padding: 50px 90px 10px 40px;
	}

	/*For Features*/

	/*For Clients*/

	/*For Pricing*/
	#pricing .business {
	    background-color: #fff;
	    /*transform: translateY(-20px);*/
	    margin-top: -10px;
	}

	/*For About Us*/

	/*For Contact Us*/

	/*For Footer*/
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	/*For Header*/
	#header .navbar {
	    position: absolute;
	}

	/*For Home*/
	#home .col:nth-child(1) {
		padding: 50px 90px 10px 40px;
	}

	/*For Features*/

	/*For Clients*/

	/*For Pricing*/
	#pricing .business {
	    background-color: #fff;
	    /*transform: translateY(-20px);*/
	    margin-top: -10px;
	}

	/*For About Us*/

	/*For Contact Us*/

	/*For Footer*/
}
