/* For All */
html, body {
	min-height: 100%; 
	overflow-x: hidden;
	font-family: open sans, sans-serif;
}
a {
	text-decoration: none;
}
ul {
	padding-left: 0;
}
li {
	list-style: none;
}
h1.display-4::after {
	content: "";
	display: block;
	width: 50px;
    	height: 3px;
    	background: #08192d;
    	bottom: 0;
    	margin: 1% auto;
}

/*For Header*/
#header .navbar {
	max-height: 116px;
	min-height: 116px;
	background: #08192d;
}
#header .navbar .container {
	background: #08192d;
    	max-width: 100%;
    	opacity: 0.9;
}
#header .navbar-light {
	border: none;
	background: #1c294a;
}
#header .navbar a {
	color: #fff;
	padding: 20px;
    	font-size: 18px;
}
#header .navbar .btn {
	background: #fc0254;
    	width: 210px;
    	border-radius: 50px;
    	padding: 15px;
}

/*For Home*/
#home {
	color: #fff;
	padding: 9vw 0 10vw 0;
	background-color: #0a183d;
	margin-top: 116px;
}
#home img {
	max-height: 500px;
   	 min-width: 170px;
}

/*For Features*/
#features {
	background-color: #f6f7ff;
	padding-top: 10vw;
	padding-bottom: 8vw;
}
#features img.img-fluid {
	width: 450px;
}
#features img.img-thumbnail {
	width: 400px;
	height: 210px;
}
#features .imgs h4 {
    	background: #0a183d;
    	color: #fff;
    	padding: 2%;
}

/*For Clients*/
#clients {
 	max-height: 200px;
 	background-color: #fff;
}
#clients .col {
	padding: 2% 4% 1%;
}

/*For Services*/
#services {
	color: #fff;
	background: #0a183d;
	padding-top: 8vw;
	padding-bottom: 9vw;
}
#services h1.display-4::after {
    	background: #fc0254;
}
#services .service-box {
	background: #1c294a;
	overflow: hidden;
	padding: 50px 30px;
	border-radius: 5px;
	height: 320px;
	margin-bottom: 10px;
}
#services .service-box:hover {
	transform: scale(1.08);
	box-shadow: 0 4px 8px 1px #4b4b95;
}
#services .service-box .box-icon i {
	border-radius: 50px;
	font-size: 20px;
	padding: 20px;
	background: #eff2f8;
	color: #0a183d;
}
#services .box-description {
    	font-size: 15px;
    	line-height: 28px;
}

/*For Pricing*/
#pricing {
	padding-top: 9vw;
	padding-bottom: 9vw;
}
#pricing .prices .col {
    	padding: 0;
}
#pricing .pricing-table {
	box-shadow: 0 0 10px 0 rgb(35 31 32 / 10%);
    	background-color: #fbfbfd;
    	padding: 20px;
    	overflow: hidden;
}
#pricing .prices .col:nth-child(2) {
	position: relative;
    	z-index: 10;
}
#pricing .business {
    	background-color: #fff;
}
#pricing .title {
	padding: 28px 0;
	border-bottom: 1px solid #d7d7d7;
}
#pricing .price .p {
	font-weight: 100;
    	font-size: 64px;
    	color: #212429;
    	line-height: 1;
}
#pricing .price sup {
    	font-size: 32px;
    	top: -20px;
}
#pricing ul li {
	padding: 1px 20px;
    	line-height: 40px;
}
#pricing .content ul li:nth-child(odd) {
    	background-color: #f6f8f9;
}
#pricing .foot .btn {
	color: #3b4ef8;
	background: #e6e6ea;
	border-radius: 5px;
	padding: 10px 45px 12px 45px;
}
#pricing .foot .btn:hover {
	box-shadow: 0 4px 8px 1px #4b4b95;
}

/*For About*/
#about-us {
	color: #fff;
	padding-top: 9vw;
	padding-bottom: 10vw;
	background: #0a183d;
}
#about-us .wrap {
	padding: 0 40px 30px 20px;
}
#about-us .row .col:nth-child(1) .btn {
	padding: 6px 30px 8px 30px;
	background: #ffffff0d;
	border-radius: 50px;
	color: #fff;
}
#about-us i {
	font-size: 14px;
	margin-left: 5px;
}
#about-us .img {
	width: 400px;
	margin: 0 auto;
}
#about-us ul li i {
	font-size: 20px;
	margin-left: 0;
}
#about-us .row .col .btn:hover {
	background: #5a5a9a;
}
#about-us .row .col:nth-child(2) .box {
	padding: 70px 5% 50px 5%;
	border-radius: 42px;
	background: #1c294a;
	font-size: 14px;
}

/*For Contact*/
#contact-us {

}
#contact-us {
	padding-top: 9vw;
	padding-bottom: 9vw;
}
#contact-us .row .col .form {
	padding: 50px;
}
#contact-us .form-control {
	padding: 0 38px;
	height: 57px;
	font-size: 14px;
    	font-weight: 500;
	border-radius: 15px;
	margin-bottom: 14px;
	color: #6a7080;
}
#contact-us textarea {
	padding: 12px 15px!important;
	height: 100px!important;
}
#contact-us iframe {
	height: 600px;
	max-width: 100%;
}
#contact-us .btn {
	color: #fff;
	background: #fc0254;
    	width: 210px;
    	border-radius: 50px;
    	padding: 15px;
}
/*For Footer*/
#footer {
	color: #fff;
	background: #0a183d;
    	padding: 100px 0 85px;
}
#footer .copyright {
    	font-size: 11px;
    	text-transform: uppercase;
    	font-weight: 500;
    	color: #505565;
    	padding: 10px 0 25px;
}
#footer .footer-links h4 a {
	color: #fff;
	display: inline-block;
}

/* End */
